body {
    background-color: #edf6f9;
}

button {
    font-size: 20px;
    background-color: #457b9d;
}

h1,
h2 {
    color: darkblue;
}

/*
ID selector
*/

#signup {
    background-color: #1d3557;
    color: #edf6f9;
}

/*
Class selector
*/

.tag {
    background-color: cyan;
    color: bisque;
    font-size: 18px;
}

/*
nested selector
*/

.post a {
    background-color: orange;
    color: red;
}

li a {
    background-color: black;
    color: white;
}

/*
atribute selector
*/
input[type="password"] {
    color: plum;
}


button:hover {
    background-color: red;
    color: #edf6f9;
}

li a:hover {
    background-color: wheat;
    color: #1d3557;
}

.sec button:hover {
    background-color: yellow;
    color: black;
}

p::first-letter {
    font-size: 30px;
}

p::first-line {
    color: green;
}

p::selection {
    background-color: #f4a261;
}